@page "/top-secret"

<AuthorizeView>
    <Authorized>
        <PageTitle>Top Secret</PageTitle>
        <h1>Top Secret</h1>
    </Authorized>
    <NotAuthorized>
        Not Authorized
    </NotAuthorized>
</AuthorizeView>