@inherits LayoutComponentBase

@if (Items is null or []) { return; }

<div>
    <MudStack Class="w-[200px]">
        <MudSelect @ref=@_columnNumberSelect T=@string Label="Column Count" Variant=@Variant.Outlined
                   AnchorOrigin=@Origin.BottomCenter Required=@false Clearable=@true Value=@_columnNumberSelected ValueChanged=@OnColumnNumberChanged ShrinkLabel>
            @for (int i = 0; i < Items[0].Fields.Count; i++)
            {
                <MudSelectItem T=@string Value=@($"{i + 1}") />
            }
        </MudSelect>
    </MudStack>
    <MudDataGrid @ref=_mudDataGrid T=@Entities.Item Items=@Items Filterable=false Bordered=false Hover=true RowClick=@OnItemClick Outlined=false RowsPerPage=@Limit Elevation=0>
        <Columns>
            @for (int i = 0; i < (_columnNumber > 0 ? _columnNumber : Items[0].Fields.Count); i++)
            {
                int j = i;
                <PropertyColumn Property=@(x => x.Fields[j].Value) Title=@Items[0].Fields[j].Name Filterable=false />
            }
        </Columns>
        <PagerContent>
            <MudStack Row=true Style="width: 100%;">
                <MudStack Row=true Style="width: 100%; display: flex; justify-content: right;">
                    <div class="mud-table-pagination-caption">
                        <div class="mud-table-page-number-information">
                            <span>@DTO.Range.Start</span>
                            -
                            <span>@(Math.Min(DTO.Range.Limit + DTO.Range.Start, DTO.Range.TotalCount))</span>
                            of
                            <span>@(DTO.Range.TotalCount)</span>
                        </div>
                    </div>
                </MudStack>
                <div style="display: flex; justify-content: right;">
                    <MudIconButton Class="mud-flip-x-rtl" Icon=@Icons.Material.Outlined.KeyboardDoubleArrowLeft @onclick=@OnFirstPage aria-label="Previous page" />
                    <MudIconButton Class="mud-flip-x-rtl" Icon=@Icons.Material.Outlined.KeyboardArrowLeft @onclick=@OnPrevPage aria-label="First page" />
                    <MudIconButton Class="mud-flip-x-rtl" Icon=@Icons.Material.Outlined.KeyboardArrowRight @onclick=@OnNextPage aria-label="Previous page" />
                    <MudIconButton Class="mud-flip-x-rtl" Icon=@Icons.Material.Outlined.KeyboardDoubleArrowRight @onclick=@OnLastPage aria-label="Previous page" />
                </div>
            </MudStack>
        </PagerContent>
    </MudDataGrid>
</div>

@code {
    private const int Limit = 10;

    [Parameter] public string? CollectionId { get; set; } 
    [Parameter] public ItemsDTO? DTO { get; set; }
    [Parameter] public Entities.Item[]? Items { get; set; }

    [Inject] public NavigationManager Navigation { get; set; }

    private MudDataGrid<Entities.Item>? _mudDataGrid;

    private MudSelect<string>? _columnNumberSelect;
    private string? _columnNumberSelected;
    private int _columnNumber = 4;

    private RangeArg _rangeArg = new(0, Limit);

    protected override void OnInitialized()
    {
        if (_columnNumber > 0)
            _columnNumberSelected = _columnNumber.ToString();
    }

    private async Task OnColumnNumberChanged(string columnNumber)
    {
        _columnNumberSelected = columnNumber;
        if (!int.TryParse(columnNumber, out _columnNumber))
            _columnNumber = -1;
    }

    private async Task OnItemClick(DataGridRowClickEventArgs<Entities.Item> args)
    {
        Navigation.NavigateTo($"/collections/{CollectionId}/items/{args.Item.Id}");
    }

    private async Task OnPrevPage()
    {
        _rangeArg = new RangeArg(Math.Max(_rangeArg.Start - _rangeArg.Limit, 0), _rangeArg.Limit);
        //await RefreshViewModel();
    }

    private async Task OnNextPage()
    {
        _rangeArg = new RangeArg(_rangeArg.Start + _rangeArg.Limit, _rangeArg.Limit);
        //await RefreshViewModel();
    }

    private async Task OnFirstPage()
    {
        _rangeArg = new RangeArg(0, _rangeArg.Limit);
        //await RefreshViewModel();
    }

    private async Task OnLastPage()
    {
        _rangeArg = new RangeArg(Math.Max(DTO.Range.TotalCount - _rangeArg.Limit, 0), DTO.Range.Limit);
        //await RefreshViewModel();
    }

    public record Item(
        string Id,
        string Front,
        string Back);

    public record ItemsDTO(
        ItemDTO[] Items,
        RangeDTO Range);

    public record ItemDTO(
        string Id,
        string Front,
        string Back);

    public record RangeDTO(
        int TotalCount,
        int Start,
        int Limit);

    public record RangeArg(
        int Start,
        int Limit);
}
